In [2]:
import pandas as pd 
import numpy as np

In [5]:
# load the file in the dataframe
spotify_data_dictionary = pd.read_csv("dataset/spotify_data_dictionary.csv")

# display the data
print(spotify_data_dictionary)

                Field                                        Description
0   spotify_track_uri  Spotify URI that uniquely identifies each trac...
1                  ts  Timestamp indicating when the track stopped pl...
2            platform             Platform used when streaming the track
3           ms_played       Number of milliseconds the stream was played
4          track_name                                  Name of the track
5         artist_name                                 Name of the artist
6          album_name                                  Name of the album
7        reason_start                              Why the track started
8          reason_end                                Why the track ended
9             shuffle  TRUE or FALSE depending on if shuffle mode was...
10            skipped  TRUE of FALSE depending on if the user skipped...

In [6]:
df_spotify_history = pd.read_csv("dataset/spotify_history.csv")
df_spotify_history.head()

,spotify_track_uri,ts,platform,ms_played,track_name,artist_name,album_name,reason_start,reason_end,shuffle,skipped
0,2J3n32GeLmMjwuAzyhcSNe,2013-07-08 02:44:34,web player,3185,"Say It, Just Say It",The Mowgli's,Waiting For The Dawn,autoplay,clickrow,False,False
1,1oHxIPqJyvAYHy0PVrDU98,2013-07-08 02:45:37,web player,61865,Drinking from the Bottle (feat. Tinie Tempah),Calvin Harris,18 Months,clickrow,clickrow,False,False
2,487OPlneJNni3NWC8SYqhW,2013-07-08 02:50:24,web player,285386,Born To Die,Lana Del Rey,Born To Die - The Paradise Edition,clickrow,unknown,False,False
3,5IyblF777jLZj1vGHG2UD3,2013-07-08 02:52:40,web player,134022,Off To The Races,Lana Del Rey,Born To Die - The Paradise Edition,trackdone,clickrow,False,False
4,0GgAAB0ZMllFhbNc3mAodO,2013-07-08 03:17:52,web player,0,Half Mast,Empire Of The Sun,Walking On A Dream,clickrow,nextbtn,False,False

In [7]:
# provides a concise summary of the DataFrame
df_spotify_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149860 entries, 0 to 149859
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   spotify_track_uri  149860 non-null  object
 1   ts                 149860 non-null  object
 2   platform           149860 non-null  object
 3   ms_played          149860 non-null  int64
 4   track_name         149860 non-null  object
 5   artist_name        149860 non-null  object
 6   album_name         149860 non-null  object
 7   reason_start       149717 non-null  object
 8   reason_end         149743 non-null  object
 9   shuffle            149860 non-null  bool
 10  skipped            149860 non-null  bool
dtypes: bool(2), int64(1), object(8)
memory usage: 10.6+ MB

In [8]:
df_spotify_history.describe()

          ms_played
count  1.498600e+05
mean   1.283166e+05
std    1.178401e+05
min    0.000000e+00
25%    2.795000e+03
50%    1.388400e+05
75%    2.185070e+05
max    1.561125e+06

In [16]:
# check if there is a null value
rows_with_missing_values = df_spotify_history[df_spotify_history.isna()].sum()
rows_with_missing_values

spotify_track_uri      0
ts                     0
platform               0
ms_played            0.0
track_name             0
artist_name            0
album_name             0
reason_start           0
reason_end             0
shuffle                0
skipped                0
dtype: object

In [13]:
rows_with_missing_values.describe()

       ms_played
count        0.0
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN